NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_APP_URL=http://localhost:3000
MEDUSA_PUBLISHABLE_KEY=pk_test_123
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_test_123

JWT_SECRET=supersecret
STAFF_JWT_SECRET=supersecret
OWNER_EMAIL=
OWNER_PASSWORD=
OWNER_PASSWORD_HASH=
